In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('dataset/stocks.csv')
df.head()

,Company Name,Industry,Symbol,Series,ISIN Code
0,ACC Ltd.,CEMENT & CEMENT PRODUCTS,ACC,EQ,INE012A01025
1,Abbott India Ltd.,PHARMA,ABBOTINDIA,EQ,INE358A01014
2,Adani Enterprises Ltd.,METALS,ADANIENT,EQ,INE423A01024
3,Adani Green Energy Ltd.,POWER,ADANIGREEN,BE,INE364U01010
4,Adani Ports and Special Economic Zone Ltd.,SERVICES,ADANIPORTS,EQ,INE742F01042

In [4]:
df = df[['Symbol']]

In [5]:
df.head()

       Symbol
0         ACC
1  ABBOTINDIA
2    ADANIENT
3  ADANIGREEN
4  ADANIPORTS

In [6]:
df.to_csv('dataset/stocks_filtered.csv', index=False)

In [10]:
import yfinance as yf

def query_stock(symbol):
    # Create Ticker object for the stock symbol
    stock = yf.Ticker(symbol)

    # Get stock information
    stock_info = stock.info
    print(stock_info)

if __name__ == "__main__":
    # Example usage
    symbol = "ALKEM.NS"  # Apple Inc. stock symbol
    query_stock(symbol)

{'address1': 'Devashish Building', 'address2': 'Alkem House Senapati Bapat Road Lower Parel (West)', 'city': 'Mumbai', 'zip': '400013', 'country': 'India', 'phone': '91 22 3982 9999', 'fax': '91 22 2495 2955', 'website': 'https://www.alkemlabs.com', 'industry': 'Drug Manufacturers - Specialty & Generic', 'industryKey': 'drug-manufacturers-specialty-generic', 'industryDisp': 'Drug Manufacturers - Specialty & Generic', 'sector': 'Healthcare', 'sectorKey': 'healthcare', 'sectorDisp': 'Healthcare', 'longBusinessSummary': 'Alkem Laboratories Limited, a pharmaceutical company, engages in the development, manufacture, and sale of pharmaceutical and nutraceutical products in India and internationally. The company offers branded generics, generic drugs, active pharmaceutical ingredients, and biosimilars, and nutraceuticals in acute and chronic therapeutic areas comprising anti-infective, dermatology, cardiac, respiratory, gastro-intestinal, central nervous system, urology, and gynaecology, as well as vitamins, minerals, and nutrients; and pain analgesic, anti-diabetic, and neurology products. Alkem Laboratories Limited was incorporated in 1973 and is headquartered in Mumbai, India.', 'fullTimeEmployees': 16871, 'companyOfficers': [{'maxAge': 1, 'name': 'Mr. Basudeo Narian Singh', 'age': 82, 'title': 'Executive Chairman', 'yearBorn': 1941, 'fiscalYear': 2023, 'totalPay': 192500000, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Sarvesh  Singh', 'age': 42, 'title': 'VP of Sales & Marketing and Executive Director', 'yearBorn': 1981, 'fiscalYear': 2023, 'totalPay': 43300000, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Sandeep Derjit Singh', 'age': 41, 'title': 'MD & Executive Director', 'yearBorn': 1982, 'fiscalYear': 2023, 'totalPay': 82700000, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Mritunjay Kumar Singh', 'age': 60, 'title': 'Executive Director', 'yearBorn': 1963, 'fiscalYear': 2023, 'totalPay': 95900000, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Srinivas  Singh', 'age': 34, 'title': 'Executive Director', 'yearBorn': 1989, 'fiscalYear': 2023, 'totalPay': 98914000, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Ms. Madhurima  Singh', 'age': 57, 'title': 'Executive Director', 'yearBorn': 1966, 'fiscalYear': 2023, 'totalPay': 94900000, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Dr. Vikas  Gupta', 'title': 'Chief Executive Officer', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Nitin  Agrawal', 'title': 'Chief Financial Officer', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Satish Kumar Singh', 'age': 63, 'title': 'Head of Operations', 'yearBorn': 1960, 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}, {'maxAge': 1, 'name': 'Mr. Amit Kumar Khandelia', 'title': 'Investor Relations Officer', 'fiscalYear': 2023, 'exercisedValue': 0, 'unexercisedValue': 0}], 'compensationAsOfEpochDate': 1703980800, 'maxAge': 86400, 'priceHint': 2, 'previousClose': 4985.35, 'open': 4990.0, 'dayLow': 4857.05, 'dayHigh': 5095.65, 'regularMarketPreviousClose': 4985.35, 'regularMarketOpen': 4990.0, 'regularMarketDayLow': 4857.05, 'regularMarketDayHigh': 5095.65, 'dividendRate': 45.0, 'dividendYield': 0.009, 'exDividendDate': 1708041600, 'payoutRatio': 0.19, 'fiveYearAvgDividendYield': 0.89, 'beta': 0.344, 'trailingPE': 38.334473, 'forwardPE': 28.097574, 'volume': 342920, 'regularMarketVolume': 342920, 'averageVolume': 259164, 'averageVolume10days': 154029, 'averageDailyVolume10Day': 154029, 'ask': 5027.5, 'marketCap': 603229388800, 'fiftyTwoWeekLow': 3087.6, 'fiftyTwoWeekHigh': 5520.0, 'priceToSalesTrailing12Months': 4.7745147, 'fiftyDayAverage': 5119.441, 'twoHundredDayAverage': 4237.7207, 'trailingAnnualDividendRate': 45.0, 'trailingAnnualDividendYield': 0.009026447, 'currency': 'INR', 'enterpriseValue': 578230157312, 'profitMargins': 0.12452, 'floatShares': 35918797, 'sharesOutstanding': 119565000, 'heldPercentInsiders': 0.63799, 'heldPercentInstitutions': 0.19868, 'impliedSharesOutstanding': 121940000, 'bookValue': 823.221, 'priceToBook': 6.1286097, 'lastFiscalYearEnd': 1680220800, 'nextFiscalYearEnd': 1711843200, 'mostRecentQuarter': 1703980800, 'earningsQuarterlyGrowth': 0.308, 'netIncomeToCommon': 15731900416, 'trailingEps': 131.61, 'forwardEps': 179.56, 'pegRatio': 0.26, 'enterpriseToRevenue': 4.577, 'enterpriseToEbitda': 26.362, '52WeekChange': 0.601333, 'SandP52WeekChange': 0.3150251, 'lastDividendValue': 35.0, 'lastDividendDate': 1708041600, 'exchange': 'NSI', 'quoteType': 'EQUITY', 'symbol': 'ALKEM.NS', 'underlyingSymbol': 'ALKEM.NS', 'shortName': 'ALKEM LAB LTD', 'longName': 'Alkem Laboratories Limited', 'firstTradeDateEpochUtc': 1450842300, 'timeZoneFullName': 'Asia/Kolkata', 'timeZoneShortName': 'IST', 'uuid': '0a014985-39ad-31c9-9263-b6f7daf88513', 'messageBoardId': 'finmb_9104830', 'gmtOffSetMilliseconds': 19800000, 'currentPrice': 5045.2, 'targetHighPrice': 6780.0, 'targetLowPrice': 3513.0, 'targetMeanPrice': 4880.67, 'targetMedianPrice': 4748.0, 'recommendationMean': 3.0, 'recommendationKey': 'hold', 'numberOfAnalystOpinions': 24, 'totalCash': 36097900544, 'totalCashPerShare': 301.908, 'ebitda': 21934125056, 'totalDebt': 14429599744, 'totalRevenue': 126343602176, 'debtToEquity': 14.113, 'revenuePerShare': 1056.655, 'earningsGrowth': 0.308, 'revenueGrowth': 0.093, 'grossMargins': 0.58846, 'ebitdaMargins': 0.17361, 'operatingMargins': 0.19195, 'financialCurrency': 'INR', 'trailingPegRatio': None}

In [11]:
import csv

def append_ns_to_symbols(input_file, output_file):
    with open(input_file, 'r', newline='', encoding='utf-8') as csvfile:
        reader = csv.DictReader(csvfile)
        symbols = [row['Symbol'] + ".NS" for row in reader]

    with open(output_file, 'w', newline='', encoding='utf-8') as csvfile:
        writer = csv.writer(csvfile)
        writer.writerow(['Symbol'])
        for symbol in symbols:
            writer.writerow([symbol])

if __name__ == "__main__":
    input_file = 'dataset/stocks_filtered.csv'  # Change this to your input CSV file
    output_file = 'dataset/updated_symbols.csv'  # Change this to the desired output CSV file

    append_ns_to_symbols(input_file, output_file)
    print("Symbols with '.NS' appended have been saved to", output_file)

Symbols with '.NS' appended have been saved to dataset/updated_symbols.csv

Appending international symbols

In [15]:
import yfinance as yf
import csv

def get_international_symbols():
    # Fetching data for S&P 500 index to get international stock symbols
    sp500_data = yf.Tickers('^GSPC')
    intl_symbols = sp500_data.tickers

    # Extracting the symbols
    symbols = [intl_symbol for intl_symbol in intl_symbols]

    return symbols

def append_international_symbols(csv_file):
    international_symbols = get_international_symbols()

    with open(csv_file, 'a', newline='', encoding='utf-8') as csvfile:
        writer = csv.writer(csvfile)
        for symbol in international_symbols:
            writer.writerow([symbol])

if __name__ == "__main__":
    csv_file = 'dataset/updated_symbols.csv'  # Your updated CSV file containing Indian stock symbols
    append_international_symbols(csv_file)
    print("International symbols have been appended to", csv_file)

International symbols have been appended to dataset/updated_symbols.csv

In [16]:
df = pd.read_csv('dataset/tickers.csv')
df.head()

,symbol,name,exchange,exchangeShortName,type,country
0,NXFIL,NX Filtration N.V.,Amsterdam,AMS,stock,NL
1,603991,"Shenzhen Original Advanced Compounds Co., Ltd.",Shanghai,SHH,stock,CN
2,YRK,York Timber Holdings Limited,Johannesburg,JNB,stock,ZA
3,002440,"Zhejiang Runtu Co., Ltd.",Shenzhen,SHZ,stock,CN
4,211900,KODEX Dividend Growth,KSE,KSC,etf,PK

In [17]:
import pandas as pd

def filter_dataframe(input_file, output_file):
    # Read the CSV file into a DataFrame
    df = pd.read_csv(input_file)

    # Filter out rows where the country column has the value "IN" (India)
    df_filtered = df[df['country'] != 'IN']

    # Save the filtered DataFrame to a new CSV file
    df_filtered.to_csv(output_file, index=False)

if __name__ == "__main__":
    input_file = 'dataset/tickers.csv'  # Change this to your input CSV file
    output_file = 'dataset/filtered_tickers.csv'  # Change this to the desired output CSV file

    filter_dataframe(input_file, output_file)
    print("Rows with country 'IN' removed. Filtered data saved to", output_file)

Rows with country 'IN' removed. Filtered data saved to dataset/filtered_tickers.csv

In [18]:
df = pd.read_csv('dataset/filtered_tickers.csv')
df.head()

,symbol,name,exchange,exchangeShortName,type,country
0,NXFIL,NX Filtration N.V.,Amsterdam,AMS,stock,NL
1,603991,"Shenzhen Original Advanced Compounds Co., Ltd.",Shanghai,SHH,stock,CN
2,YRK,York Timber Holdings Limited,Johannesburg,JNB,stock,ZA
3,002440,"Zhejiang Runtu Co., Ltd.",Shenzhen,SHZ,stock,CN
4,211900,KODEX Dividend Growth,KSE,KSC,etf,PK

In [19]:
df = df[['symbol']]

In [20]:
df.head()

   symbol
0   NXFIL
1  603991
2     YRK
3  002440
4  211900

In [21]:
df.to_csv('dataset/filtered_tickers_data.csv', index=False)

Merging data

In [25]:
import pandas as pd

def append_data(input_file, data_file, output_file):
    # Read the updated symbols CSV file into a DataFrame
    df_updated = pd.read_csv(input_file, header=None, names=['Symbol'])

    # Read the filtered tickers data CSV file into a DataFrame
    df_data = pd.read_csv(data_file, header=None, names=['Symbol'])

    # Concatenate the data frames
    df_merged = pd.concat([df_updated, df_data], ignore_index=True)

    # Save the merged DataFrame to a new CSV file
    df_merged.to_csv(output_file, index=False, header=False)

if __name__ == "__main__":
    input_file = 'dataset/updated_symbols.csv'  # Updated symbols CSV file
    data_file = 'dataset/filtered_tickers_data.csv'  # Filtered tickers data CSV file
    output_file = 'dataset/merged_symbols.csv'  # Merged output CSV file

    append_data(input_file, data_file, output_file)
    print("Data from filtered tickers data CSV file appended to updated symbols CSV file. Merged data saved to", output_file)

Data from filtered tickers data CSV file appended to updated symbols CSV file. Merged data saved to dataset/merged_symbols.csv